.App {
  text-align: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: rgb(77, 77, 147);
}

.Home_Container{
  color: rgb(250, 247, 247);
  background-color: rgb(77, 77, 147);
  width: 100%;
  padding-top: 5%;
  height: fit-content;
}

.Home_Container div:first-child{
  width: 40%;
  margin: auto;
}

.Home_Container div:nth-child(2){
  width: 50%;
  font-size: 180%;
  font-weight: 600;
  margin: auto;

  margin-top: 3%;
  margin-bottom: 3%;
}

.Home_Container div img{
  width: 40%;
}

.Home_Container > .btn  button{
  padding: 1% 4%;
  background-color: rgb(96, 96, 221);;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  margin: 1%;
  font-size: 140%;
}

.Home_Container > .btn  button:hover{
  opacity: 0.6;
  cursor: pointer;
}

.Home_Container > div:last-child{
  padding: 5%;
  text-align: justify;
  font-size: 120%;
}